server:
  requestLog:
    appenders:
        - type: console
          threshold: INFO
          timeZone: IST
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081

# Logging settings.
logging:
  level: INFO
  # Logger-specific levels.
  loggers:
    io.jwt.primer: DEBUG
  appenders:
    - type: console
      threshold: INFO
      timeZone: IST

swagger:
  resourcePackage: io.jwt.primer.resource
  title: Primer
  description: Low latency & interet scale JWT service

riemann:
  host: ${RIEMANN_HOST}
  port: ${RIEMANN_PORT}
  prefix: phonepe.${CONFIG_ENV}.primer
  pollingInterval: 30
  tags:
    - auth
    - primer

aerospike:
  hosts: ${AEROSPIKE_HOST}
  namespace: ${AEROSPIKE_NAMESPACE}
  maxConnectionsPerNode: ${AEROSPIKE_CONNECTION_PER_NODE}
  timeout: ${AEROSPIKE_TIMEOUT}
  retries: ${AEROSPIKE_RETRIES}
  sleepBetweenRetries: ${AEROSPIKE_SLEEP_BETWEEN_RETRIES}
  maxSocketIdle: ${AEROSPIKE_MAX_SOCKET_IDLE}

hystrix:
  defaultConfig:
    threadPool:
      timeout: 1000
  commands:
    - name: Dynamic.Generate
      threadPool:
        timeout: 500
        concurrency: 16
    - name: Dynamic.Disable
      threadPool:
        timeout: 500
        concurrency: 4
    - name: Dynamic.Get
      threadPool:
        timeout: 500
        concurrency: 16
    - name: Static.Generate
      threadPool:
        timeout: 500
        concurrency: 4
    - name: Static.Disable
      threadPool:
        timeout: 200
        concurrency: 4
    - name: Static.Get
      threadPool:
        timeout: 500
        concurrency: 16
    - name: Dynamic.Refresh
      threadPool:
        timeout: 500
        concurrency: 16
    - name: Dynamic.Expire
      threadPool:
        timeout: 500
        concurrency: 4
    - name: Dynamic.Clear
      threadPool:
        timeout: 500
        concurrency: 4

jwt:
  privateKey: ${JWT_PRIVATE_KEY}
  clockSkew: ${JWT_CLOCK_SKEW}
  expiry: ${JWT_EXPIRY}

discovery:
  namespace: phonepe
  environment: ${CONFIG_ENV}
  zookeeper: ${ZK_CONNECTION_STRING}
  connectionRetryIntervalMillis: 1000
  publishedHost: ${HOST}
  publishedPort: ${PORT_8080}